.banner__titulo{
    color: #f2f6f7;
    font-family: 'Pacifico', cursive;
    
    position: absolute;
    left: 50%;
    text-shadow: o 5px 5px rgba(0, 0, 0, 0.75) ;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 100% ;
    top: 300px;
}

@media screen and (min-width:0) {
    .banner__titulo{
        font-size: 2rem;
    
    }
    
}
@media screen and (min-width:768px) {
    .banner__titulo{
        font-size: 50px;
    
    }
    
}


